*,
*::after,
*::before {
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	color: inherit;
	text-decoration: none;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html,
body {
	height: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
	&::after,
	&::before {
		content: '';
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

html,
body {
	height: 100%;
}
html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 62.5%;
}

body {
	background: #121212;

	color: white;
	font-size: 1.6rem;
}

button {
	padding: 0.75rem 1.25rem;
	opacity: 1;

	cursor: pointer;
	border: none;
	background: white;
	border-radius: 0.5rem;

	color: black;
	font-size: 1.6rem;
	font-weight: 500;

	transition: opacity 0.3s ease 0s, padding 0.2s ease 0s;
}

button:hover,
button:focus,
button:active {
	padding: 0.75rem 1.75rem;
}

button:disabled {
	opacity: 0.6;
}

input {
	width: 90%;
	padding: 0.75rem 1.25rem;

	border: none;
	background: white;
	border-radius: 0.5rem;

	color: black;
	font-size: 1.6rem;
	font-weight: 400;

	transition: width 0.4s ease 0s;
}

input::placeholder {
	color: lightslategray;
	font-weight: 400;
	font-style: italic;
}

input:active,
input:focus {
	width: 100%;
}

.main {
	max-width: 700px;
	margin: 8rem auto 0;
	padding-bottom: 10rem;
}

/* header */
.heading {
	width: 100%;
}

.heading__title {
	padding-bottom: 0.5rem;

	border-bottom: whitesmoke solid 0.1rem;

	text-align: center;
	font-size: 4rem;
	line-height: 4.4rem;
}

.heading__title._sub {
	padding-bottom: 0;

	border-bottom: none;

	color: gray;
	text-align: center;
	font-size: 2.2rem;
	line-height: 2.6rem;
}

.form {
	max-width: 300px;
	margin: 6rem auto 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;
}

.form__title {
	padding-top: 1rem;

	text-align: center;
	color: gray;
	font-size: 2rem;
	line-height: 2.6rem;
}

/* table */
.table {
	width: 100%;
	margin-top: 4rem;

	background: #323232;
	border-collapse: collapse;
}

.table caption {
	padding: 1rem 1rem 1.5rem;

	background: #060606;

	color: whitesmoke;
	text-align: start;
	font-size: 2.2rem;
	font-weight: 700;
}

.table__head {
	background: #161616;
}

tr,
th,
td {
	padding: 1rem;

	text-align: start;
}

th {
	font-weight: 600;
}

tr:nth-of-type(2n) {
	background: #444444;
}

@media screen and (max-width: 650px) {
	th {
		display: none;
	}

	td {
		padding: 0.5rem 1rem;

		display: grid;
		grid-template-columns: 11ch auto;
		gap: 0.5rem;
	}

	td:first-of-type {
		padding-top: 2rem;
	}

	td:last-of-type {
		padding-bottom: 2rem;
	}

	td::before {
		font-weight: 700;
	}
	td:nth-of-type(1):before {
		content: 'email:';
	}
	td:nth-of-type(2):before {
		content: 'username:';
	}
	td:nth-of-type(3):before {
		content: 'firstname:';
	}
	td:nth-of-type(4):before {
		content: 'lastname:';
	}
	td:nth-of-type(5):before {
		content: 'password:';
	}
}

@media screen and (max-width: 350px) {
	td {
		padding: 0.5rem 1rem;

		display: grid;
		grid-template-columns: 1fr;
		gap: 0.5rem;
	}
}

/* export button */
#export {
	display: block;

	margin: 4rem auto 0;
}
